<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.linjinfu.mapper.AdminMapper">

    <resultMap id="AdminBaseMap" type="Admin">
        <id property="a_id" column="a_id" jdbcType="INTEGER"/>
        <result property="a_name" column="a_name" jdbcType="VARCHAR"/>
        <result property="a_password" column="a_password" jdbcType="VARCHAR"/>
        <result property="a_key" column="a_key" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 登录的功能 -->
    <select id="login" resultType="Admin" parameterType="String">
        select * from admin where a_name = #{a_name}
    </select>

    <!-- 注册的功能 -->
    <insert id="insert" parameterType="Admin">
        insert into
        admin(
          a_name,
          a_password,
          a_key,
          a_black,
          a_date
        )
        values(
          #{a_name},
          #{a_password},
          #{a_key},
          #{a_black},
          #{a_date}
        )
    </insert>

    <!-- 根据用户名查询 -->
    <select id="findByName" parameterType="String" resultType="Admin">
        select * from admin where a_name = #{a_name}
    </select>

    <select id="findUserById" parameterType="int" resultType="Admin">
        select * from admin where a_id = #{a_id}
    </select>

    <update id="updateUserById" parameterType="Admin">
        update admin
        <set>
            <if test="a_sex !=null and a_sex !=''">
                a_sex = #{a_sex} ,
            </if>
            <if test="a_age !=null and a_age !=''">
                a_age = #{a_age} ,
            </if>
            <if test="a_telephone !=null and a_telephone !=''">
                a_telephone = #{a_telephone} ,
            </if>
            <if test="a_email !=null and a_email !=''">
                a_email = #{a_email} ,
            </if>
            <if test="a_sign !=null and a_sign !=''">
                a_sign = #{a_sign} ,
            </if>
            <if test="a_black !=null and a_black !=''">
                a_black = #{a_black} ,
            </if>
        </set>
        <where>
            a_id = #{a_id}
        </where>
    </update>

    <select id="findByPage" parameterType="Admin" resultType="admin">
        SELECT * FROM admin
        <where>
            <if test="a_name != null and a_name !=''">
                AND a_name LIKE CONCAT('%', #{a_name}, '%')
            </if>
            <if test="a_sex != null and a_sex !=''">
                AND a_sex = #{a_sex}
            </if>
            <if test="a_age != null and a_age !=''">
                AND a_age = #{a_age}
            </if>
            AND a_key = 0
        </where>
    </select>


</mapper>